/* Media Queries for PC */
@media screen and (min-width: 1024px){
    .paginationUl{
        list-style: none;
    }

    .paginationUl li {
        float: left;
        list-style: none;
        text-align: center;
        background-color: transparent;
        margin-right: 30px;
        width: 3%;
        line-height: 150%;
      }
      .pagination_stack{
        width: 118%;
      }

      .pagination_stack .Polaris-Stack__Item {
        display: flex;
    }
 }
 
 
 /* Media queries for the tablet devices */
 @media (min-width: 650px) and (max-width: 1023px) {
    .paginationUl{
        list-style: none;
        max-width: 64%;
    }

    .paginationUl li {
        float: left;
        list-style: none;
        text-align: center;
        background-color: transparent;
        margin-right: 30px;
        width: 3%;
        line-height: 150%;
      }
      .pagination_stack{
        width: 118%;
      }

      .pagination_stack .Polaris-Stack__Item {
          display: flex;
      }
 }
 
 /* Media Queries for mobile devices */
 @media  (min-width: 360px) and (max-width: 640px) {   
 
    .paginationUl{
        list-style: none;
    }

    .paginationUl li {
        float: left;
        list-style: none;
        text-align: center;
        background-color: transparent;
        margin-right: 30px;
        width: 3%;
        line-height: 150%;
      }
      .pagination_stack{
        width: 118%;
      }
 }