.compSpanClass{
    font-weight: bold;
    /* font-size: 14px; */
}

.compClass{
    height: 24px;
    padding-left: 14px;
}

.artifactValue{
    height: 24px;
    padding-left: 9px;
}

.artifactValueTitle{
    font-weight: bold;
    /* font-size: 14px; */
}

.GroupWrapperClass{
    box-shadow: rgba(189, 189, 189, 0.52) 0px 1px 5px 1px;
    margin-top: 14px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
}

.keyClass{
    height: 24px;
}

.spanClass{
    font-weight: bold;
    padding-left: 3em;
}